<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984275785574-f1soevc9vumb2vqfemacih6i44aehk1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984275785574-f1soevc9vumb2vqfemacih6i44aehk1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBGb326fnCuBUqSL-47df-twExKe5l3Xpw</string>
	<key>GCM_SENDER_ID</key>
	<string>984275785574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weighttracker</string>
	<key>PROJECT_ID</key>
	<string>weighttracker-4023a</string>
	<key>STORAGE_BUCKET</key>
	<string>weighttracker-4023a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984275785574:ios:cb3a45639c756a1f16daa7</string>
</dict>
</plist>